# Distance GNN
> 

- toc:true
- branch: master
- badges: true
- comments: false
- author: 최서연, 최규빈

In [1]:
import numpy as np
import pandas as pd

In [2]:
img1 = np.random.randn(28*28).reshape(28,28)
img2 = np.random.randn(28*28).reshape(28,28)
img3 = np.random.randn(28*28).reshape(28,28)
img4 = np.random.randn(28*28).reshape(28,28)
img5 = np.random.randn(28*28).reshape(28,28)

In [3]:
_a = [1]*5+[2]*5+[3]*5+[4]*5+[5]*5
_b = [1,2,3,4,5]*5

`-` 2번째 데이터

In [4]:
df=pd.DataFrame({'t':_a ,'s':_b})
df

    t  s
0   1  1
1   1  2
2   1  3
3   1  4
4   1  5
5   2  1
6   2  2
7   2  3
8   2  4
9   2  5
10  3  1
11  3  2
12  3  3
13  3  4
14  3  5
15  4  1
16  4  2
17  4  3
18  4  4
19  4  5
20  5  1
21  5  2
22  5  3
23  5  4
24  5  5

`-` 3번째 데이터

In [5]:
df=df.assign(third = [0]*25)

In [6]:
df

    t  s  third
0   1  1      0
1   1  2      0
2   1  3      0
3   1  4      0
4   1  5      0
5   2  1      0
6   2  2      0
7   2  3      0
8   2  4      0
9   2  5      0
10  3  1      0
11  3  2      0
12  3  3      0
13  3  4      0
14  3  5      0
15  4  1      0
16  4  2      0
17  4  3      0
18  4  4      0
19  4  5      0
20  5  1      0
21  5  2      0
22  5  3      0
23  5  4      0
24  5  5      0

In [7]:
df.third[0] = np.exp(((img1-img1)**2).sum())

In [8]:
theta= 5000
df.third[1] = np.exp(-((img1-img2)**2/theta).sum())

In [9]:
df

    t  s  third
0   1  1      1
1   1  2      0
2   1  3      0
3   1  4      0
4   1  5      0
5   2  1      0
6   2  2      0
7   2  3      0
8   2  4      0
9   2  5      0
10  3  1      0
11  3  2      0
12  3  3      0
13  3  4      0
14  3  5      0
15  4  1      0
16  4  2      0
17  4  3      0
18  4  4      0
19  4  5      0
20  5  1      0
21  5  2      0
22  5  3      0
23  5  4      0
24  5  5      0

In [ ]:
!git add .
!git commit -m .
!git push

warning: CRLF will be replaced by LF in _notebooks/2020-02-20-test.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2021-12-16-git.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-01-06-graph논문(guebin).ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-01-11-graph논문.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-01-13-eigen.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-01-17-pca_eigen_svd.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-01-31-Instance Selection for GANs.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-01-gan_prac.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-02-Data-Efficient GAN.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-14-푸리에변환.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-17-WGAN.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-19-[논문연구]_ft.교수님.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-02-24-semina_22_RL.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-03-07-Earthquake_prac.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-03-14-GNAR.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-03-17-GDL.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-03-18-Earthquake-real.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-04-04-Earthquake.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-04-06-Earthquake(guebin).ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-04-08-ubuntu.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-04-13-Earthquake-Copy2.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-04-14-Earthquake-Basemap.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/2022-06-02-EarthGuebin.ipynb.
The file will have its original line endings in your working directory
warning: CRLF will be replaced by LF in _notebooks/README.md.
The file will have its original line endings in your working directory

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'csy@csy.(none)')
Username for 'https://github.com':