In [6]:
import numpy as np
import pandas as pd

In [7]:
img1 = np.random.randn(28*28).reshape(28,28)
img2 = np.random.randn(28*28).reshape(28,28)
img3 = np.random.randn(28*28).reshape(28,28)
img4 = np.random.randn(28*28).reshape(28,28)
img5 = np.random.randn(28*28).reshape(28,28)

In [13]:
_a = [1]*5+[2]*5+[3]*5+[4]*5+[5]*5
_b = [1,2,3,4,5]*5

`-` 2번째 데이터

In [16]:
df=pd.DataFrame({'t':_a ,'s':_b})
df

    t  s
0   1  1
1   1  2
2   1  3
3   1  4
4   1  5
5   2  1
6   2  2
7   2  3
8   2  4
9   2  5
10  3  1
11  3  2
12  3  3
13  3  4
14  3  5
15  4  1
16  4  2
17  4  3
18  4  4
19  4  5
20  5  1
21  5  2
22  5  3
23  5  4
24  5  5

`-` 3번째 데이터

In [20]:
np.exp(((img1-img1)**2).sum())

1.0

In [23]:
np.exp(-((img1-img2)**2/5000).sum())

0.7295541171113348